body {
  font: normal 1em/1.5em 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, sans-serif; }

#header {
  padding: 1ex 0; }
  #header img {
    vertical-align: -20%; }
  #header .slogan {
    padding: 0 0 0 2em;
    font: italic 1.25em Georgia, serif;
    color: #dac400; }

#navigation {
  font-size: 1.5em;
  padding: 1ex 0;
  background-color: #eee; }
  #navigation .filter {
    cursor: pointer;
    padding: 0 1ex 0 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #999; }
    #navigation .filter.active {
      color: #555; }

#content h3 {
  font-weight: bold; }
#content .design {
  text-align: center;
  margin: 1ex 0; }

#footer {
  font-size: 75%;
  color: #aaa; }
