.grid_9.alpha
  - render_designs

.grid_3.omega
  %h3 Whoops!
  Contact me at gus at gusg dot us if you somehow stumbled onto this site and you're still interested in something (or things) that you see here.