.design.grid_3
  %img{:src => "/images/designs/tm-logo-abdominal.png"}
.design.grid_3
  %img{:src => "/images/designs/tax-payer.png"}
.design.grid_3
  %img{:src => "/images/designs/ass-u-me.png"}
.design.grid_3
  %img{:src => "/images/designs/word.png"}
.design.grid_3
  %img{:src => "/images/designs/choosy-heretics.png"}
.design.grid_3
  %img{:src => "/images/designs/life-without-pointers.png"}
.design.grid_3
  %img{:src => "/images/designs/qr-code.png"}
