!sans = "'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, sans-serif"
!serif = "Georgia, serif"
!lion = #dac400
!brown = #917b6b

body
  :font = "normal 1em/1.5em " + !sans

#header
  :padding 1ex 0
  img
    :vertical-align -20%
  .slogan
    :padding 0 0 0 2em
    :font = "bold normal 1.5em" + !sans
    :color = !brown

#navigation
  :font-size 1.5em
  :padding 1ex 0
  :background-color #eee
  a,a:visited,.filter
    :cursor pointer
    :padding 0 1ex 0 0
    :text-transform uppercase
    :text-decoration none
    :font-weight bold
    :color #999
    &.active
      :color #555
    &:hover
      :color #bbb

#content
  h1
    :font-weight bold
    :font-size 2em
    :padding 1ex 0 .5ex 0
    :margin 0 0 .5ex 0
    :color #555
  h3
    :padding 1em 0 .5ex 0
    :font-weight bold
  .design
    :text-align center
    :margin 1ex 0
  .label
    :font-weight bold
  p
    :padding 1ex 0

#footer
  :font-size 75%
  :color #aaa