!!!
%html
  %head
    %title Dandee Lions : Clothing - If we'd wear it, it's here
    = stylesheets
  %body
    #header
      .container_12.clearfix
        %img{:src => "/images/dandee-lions-logo.png"}
        %span.slogan If we'd wear it, it's here
    #navigation
      .container_12.clearfix
        %span.filter.active all
        %span.filter code
        %span.filter aggro
        %span.filter brand
    #content
      .container_12.clearfix
        = yield
    #footer
      .container_12.clearfix
        &copy; 2009 - Dandee Lions
  = javascripts('jquery-1.3.2.min', 'design_filter')
  